$con1 : "안녕하세요";
$con2 : "scss 연습";

header {
    p::before {
        content: $con1;
        font-size: 40px;
    }
}

footer {
    p::after {
        content: $con2;
        font-size: 40px;
    }
}