// 함수 - 공통부분
@mixin make {
    width: 400px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    line-height: 100px;
    font-size: 25px;

    span {
        font-weight: 700;
        font-size: 30px;
        background: palegoldenrod;
        margin: 0 15px;
    }
}

h1 {
    @include make();
}

p {
    @include make();
}