#wrap {
    margin: 30px;
    border: 1px solid #000;
    display: flex;
    width: 1400px;
    padding: 30px;
    box-sizing: border-box;
}

#wrap>div {
    border: 1px solid #000;
    padding: 20px;
    margin: 30px;
}

#wrap div {
    box-sizing: border-box;
}

#wrap .left {}

#wrap .right {}

#wrap div h2 {
    font-size: 30px;
}

#wrap .list {
    margin: 5px;
    border: 1px solid #000;
    height: 500px;
}

#wrap .list .listItem {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
}

#wrap .list .listItem li div {
    width: 200px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}



#wrap .list .listItem li div img {
    display: block;
    width: 160px;
    margin: auto;
}


#wrap .list .listItem li div strong {
    display: block;
    margin: 10px 0;
    font-size: 24px;
}

#wrap .list .listItem li div button {
    width: 60px;
    height: 30px;
    font-size: 18px;
    margin-right: 20px;
}

#wrap .basket {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}

#wrap .basket .pocket {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
}

#wrap .basket .pocket li div {
    width: 200px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}

#wrap .basket .pocket li div img {
    display: block;
    width: 170px;
    margin: auto;
}

#wrap .basket p {
    width: 100%;
    text-align: center;
}

#wrap .basket p button {
    width: 150px;
    height: 40px;
    margin: 0 20px;
    font-size: 24px;
}

#wrap .basket .pocket li div strong {
    display: block;
    margin: 10px 0;
    font-size: 24px;
}

#wrap .basket .pocket li div button {
    width: 60px;
    margin-right: 20px;
    font-size: 18px;
}