#wrap {
    width: 100%;
    min-width: 1600px;
}

.inner {
    width: 1000px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

#header {
    width: 100%;
    background: #41414d;
}

#header .inner {
    height: 150px;
    background: #41414d;
}

#subVisual {}

#subVisual .inner {
    width: 1920px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/subVisual.jpg);
}

#container {}

#content {}

#footer {
    background: #41414d;
}

#footer .inner {
    height: 200px;
    background: #41414d;
}

#footer h1 {
    position: absolute;
    top: 0;
    transform: translateY(120%);
    left: 0;
}

/* 게시판 */
.bbs .inner {
    padding: 100px 0;
}

.bbs h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
    line-height: 1.1;
}

.bbs strong {
    padding-left: 10px;
    font-size: 15px;
}

.bbs .board h2 {
    text-align: center;
}

.bbs .tb-board {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bbs .tb-board .w1 {
    width: 120px;
}

.bbs .tb-board .w2 {
    width: 350px;
}

.bbs .tb-board .w3 {
    width: 160px;
}

.bbs .tb-board .w4 {
    width: 210px;
}

.bbs .tb-board .w5 {
    width: 160px;
}

.bbs .tb-board tbody {}

.bbs .tb-board tbody tr {}

.bbs .tb-board tbody tr td {
    text-align: center;
    height: 40px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
    font-size: 15px;
}

.bbs .tb-board tbody tr:first-child td {
    font-weight: 600;
}

.bbs .btnwrite {
    text-align: right;
}

.bbs .btnwrite a button {
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
    background: #FFF;
    border: 1px solid #000;
    cursor: pointer;
}

.bbs .board ul {
    display: flex;
    justify-content: center;
}

.bbs ul a li {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}

.bbs ul a:nth-child(3) li {
    background: #000;
    color: #fff;

}

.bbs .w190 {width: 190px;}
.bbs .w700 {width: 700px;}
.bbs .w980 {width: 980px;}

.bbs .tb-write {margin-top: 30px; margin-bottom: 30px;}
.bbs .tb-write .w1 {width: 100px;}
.bbs .tb-write .w2 {width: 380px;}
.bbs .tb-write .w3 {width: 100px;}
.bbs .tb-write .w4 {width: auto;}

.bbs .tb-write tbody {}
.bbs .tb-write tbody tr {}
.bbs .tb-write tbody tr td {
    box-sizing: border-box;
    padding-left: 15px;
    border-bottom: 1px solid #000;
}
.bbs .tb-write tbody tr:first-child td {
    border-top: 2px solid #000;
    border-bottom: 1px dashed #d3d3d3;    
}
.bbs .tb-write tbody tr td input[type=text],
.bbs .tb-write tbody tr td input[type=password] {
    height: 40px;
    margin: 15px 0 15px 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.bbs textarea {
    height: 270px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.bbs .write .btnsubmit {
    display: flex;
    justify-content: center;
}
.bbs .write p a {
    color: none;
}
.bbs .write p a button{
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    cursor: pointer;    
}
.bbs .write .submit {
    background: #000;
    color: #FFF;
}
.bbs .write .reset {
    background: #FFF;
    margin-left: 10px;
}

.bbs .view {}
.bbs .view h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.bbs .view ul {display: flex; margin-top: 25px;
    margin-bottom: 25px;}
.bbs .view ul li {}
.bbs .view ul li:nth-child(n+2)::before {
    content: "";

    width: 1px;
    height: 15px;
    display: inline-block;
    background: #888;
    margin-right: 20px;
    line-height: 15px;
    vertical-align: middle;
}
.bbs .view ul li em {
    color: #888;
    margin-left: 10px;
    margin-right: 20px;
}
.bbs .view p {
    border: none;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}