    #wrap {
        width: 100%;
    }
    .inner {
        position: relative;
        box-sizing: border-box;
        width: 1200px;
        margin: auto;
    }
    
    .airportVis {
        position: relative;
        width: 100%;
        height: 600px;
        text-align: center;

    }
    .airportVis .viss {
        position: absolute;
        width: 100%;
        height: 600px;
        overflow: hidden;
        z-index: 5;
    }

    .airportVis .viss img {
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .airportVis .inner {
        position: relative;
        height: 600px;
    }
    .airportVis .bgibox {
        position: absolute;
        width: 100%;
        transition: 0.4s;
    }
    .airportVis .bgibox .inner {
        width: 1200px;
    }
    .airportVis .bgibox .inner .event {
        position: absolute;
        background: rgba(172, 161, 16, 0.9);
        width: 430px;
        height: 260px;
        top: 80px;
        left: 0;
        color: white;
        box-sizing: border-box;
        padding: 30px;
        box-shadow: 0px 0px 10px black;
    }
    .airportVis .box2 .inner .event {
        background: rgba(0, 50, 160, 0.9);
    }
    .airportVis .box3 .inner .event {
        background: rgba(2, 50, 120);
    }
    .airportVis .box6 .inner .event {
        background: rgba(104, 65, 216, 0.9);
    }
    .airportVis .box7 .inner .event {
        background: rgba(116, 69, 4, 0.9);
    }


    .airportVis .bgibox h3 {
        font-size: 30px;
        text-align: left;
        font-weight: 550;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    .airportVis .bgibox h3:first-child {
        margin: 0;
    }
    .airportVis .bgibox p {
        text-align: left;
        font-size: 14px;
        font-weight: normal;
    }
    .airportVis .inner .btn {
        position: absolute;
        display: flex;
        left: 30px;
        top: 45%;
    }
    .airportVis .inner .btn button {
        cursor: pointer;
    }
    .airportVis .inner .btn .prev,
    .airportVis .inner .btn .next,
    .airportVis .inner .btn .play, 
    .airportVis .inner .btn .pause {
        border: 1px solid white;
        background: none;
    }
    .airportVis .inner .btn .play {
        display: none;
    }
    .airportVis .inner .btn .prev,
    .airportVis .inner .btn .next {
        border-right: none;
    }
    .airportVis .inner .btn i {
        font-size: 30px;
        color: white;
    }





    /* search */
    .airportVis .inner {
        z-index: 10;
    }
    .airportVis .inner .search {
        position: absolute;
        width: 1200px;
        height: 220px;
        background: white;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
        bottom: 20px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px ;
        padding: 20px;
        text-align: left;
    }
    .airportVis .inner .search .way {
        text-align: left;
    }
    .airportVis .inner .search .way strong {
        margin-right: 20px;
        margin-left: 10px;
        font-size: 18px;
        cursor: pointer;

    }
    .airportVis .inner .search .way .roundBtn {
        border-bottom: 2px solid gray;
    }
    .airportVis .inner .search .way strong:hover {
        border-bottom: 2px solid gray;
    }


    .airportVis .inner .search .one {
        display: none;
    }

    .airportVis .inner .search .where {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .airportVis .inner .search .where span,
    .airportVis .inner .search .when span {
        display: inline-block;
        width: 100px;
        height: 50px;
        padding: 10px;
        color: gray;
        box-sizing: border-box;
        cursor: pointer;
    }
    .airportVis .inner .search .where .start,
    .airportVis .inner .search .where .end,
    .airportVis .inner .search .when .pers {
        width: 400px;
        cursor: pointer;
    }

    .airportVis .inner .search .where i {
        vertical-align: -40%;
        font-size: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .airportVis .inner .search .when .start_date,
    .airportVis .inner .search .when .end_date {
        width: 190px;
        margin-right: 15px;
    }
    .airportVis .inner .search .one .when .start_date{
        width: 190px;
        margin-right: 223.5px;
    }
    .airportVis .inner .search .when .pers {
        margin-left: 80px;
    }
    .airportVis .inner .search .when {
        
    }
    .airportVis .inner .search .when .serch_btn {
        margin-left: 20px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: lightsalmon;
        color: white;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }



    /* popup */
    .airportVis .inner .search .popStaBox {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 410px;
        height: 310px;
        top: 110px;
        left: 20px;
        box-sizing: border-box;
    }
    .airportVis .inner .search .popDesBox {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 410px;
        height: 310px;
        top: 110px;
        left: 520px;
        box-sizing: border-box;
    }
    .airportVis .inner .search .popSta {
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 400px;
        height: 300px;
        top: -300px;
        left: 0px;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .airportVis .inner .search .popDes {
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 400px;
        height: 300px;
        top: -300px;
        left: 0;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .airportVis .inner .search .popSta p,
    .airportVis .inner .search .popDes p,
    .airportVis .inner .search .popPer p {
        margin: 10px;
        text-align: right;
    }


    .airportVis .inner .search .popSta p i, 
    .airportVis .inner .search .popDes p i,
    .airportVis .inner .search .popPer p i {
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
    }
    .airportVis .inner .search .popSta p i:hover,
    .airportVis .inner .search .popDes p i:hover,
    .airportVis .inner .search .popPer p i:hover {
        transform: rotate(90deg);
        color: red;
    }
    .airportVis .inner .search .popSta ul,
    .airportVis .inner .search .popDes ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 30px;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid gray;
    }
    .airportVis .inner .search .popSta li,
    .airportVis .inner .search .popDes li {
        text-align: center;
        margin: 5px;
        padding: 5px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        cursor: pointer;
    }
    .airportVis .inner .search .popSta li:hover,
    .airportVis .inner .search .popDes li:hover {
        text-decoration: underline;
    }
    .airportVis .inner .search .popPerBox {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 410px;
        height: 310px;
        top: 180px;
        left: 520px;
        box-sizing: border-box;
    }
    .airportVis .inner .search .popPer {
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 400px;
        height: 300px;
        top: -300px;
        left: 0px;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .airportVis .inner .search .popPer ul {
        position: relative;
        margin: 30px;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid gray;
    }
    .airportVis .inner .search .popPer ul li {
        height: 70px;
    }
    .airportVis .inner .search .popPer ul li .pers {
        position: absolute;
        display: inline-block;
        right: 0;
    }
    .airportVis .inner .search .popPer ul li span {
        font-size: 18px;
    }
    .airportVis .inner .search .popPer ul li span em {
        font-size: 14px;
        color: gray;
        margin-left: 5px;
    }
    .airportVis .inner .search .popPer ul li .min,
    .airportVis .inner .search .popPer ul li .plus {
        background: white;
    }
    .airportVis .inner .search .popPer ul i {
        font-size: 18px;
        margin-left: 5px;
        cursor: pointer;
    }
    .airportVis .inner .search .popPer ul li button {
        border: none;
        margin: 5px;
    }
    .airportVis .inner .search .popPer ul li strong {
        font-size: 22px;
        font-weight: 600;
    }





    
    /* cal */

    .airportVis .inner .search .popDateBox {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 800px;
        height: 0px;
        top: 180px;
        left: 10px;
        box-sizing: border-box;
        padding: 20px;
    }

    .airportVis .inner .search .popDateBox .popDateBox1{
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 790px;
        height: 480px;
        top: -480px;
        left: 0px;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .airportVis .inner .search .popDateBoxR {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 800px;
        height: 0px;
        top: 180px;
        left: 220px;
        box-sizing: border-box;
        padding: 20px;
    }

    .airportVis .inner .search .popDateBoxR .popDateBox1{
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 790px;
        height: 480px;
        top: -480px;
        left: 0px;
        box-sizing: border-box;
        transition: 0.3s;
    }

    .airportVis .inner .search .popDateBoxO {
        position: absolute;
        overflow: hidden;
        z-index: -10;
        width: 800px;
        height: 0px;
        top: 180px;
        left: 10px;
        box-sizing: border-box;
        padding: 20px;
    }

    .airportVis .inner .search .popDateBoxO .popDateBox1{
        position: absolute;
        background: white;
        border: 1px solid #000;
        width: 790px;
        height: 480px;
        top: -480px;
        left: 0px;
        box-sizing: border-box;
        transition: 0.3s;
    }


    .airportVis .inner .search .popDate {
        padding-left: 20px;
    }


    .airportVis .inner .search .popDateBox1 .popDate {
        display: flex;
        align-items: flex-start;
    }

    .airportVis .inner .search .popDateBox1>p {
        margin: 10px;
        margin-bottom: 20px;
        text-align: right;
    }

    .airportVis .inner .search .popDateBox1>p i {
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
    }

    .airportVis .inner .search .popDateBox1>p i:hover {
        transform: rotate(90deg);
        color: red;
    }

    .airportVis .inner .search .popDate td {
        width: 50px;
        height: 50px;
        vertical-align: top;
    }

    .airportVis .inner .search .popDate .popDateS {
        width: 350px;
        height: auto;
        margin-right: 40px;
    }

    .airportVis .inner .search .popDate .popDateE {
        width: 350px;
        height: auto;
    }

    .airportVis .inner .search .popDate table {
        text-align: center;

    }

    .airportVis .inner .search .popDate table i {
        font-size: 34px;
    }

    .airportVis .inner .search .popDate table thead tr:first-child td {
        font-weight: bold;
        font-size: 22px;
    }

    .airportVis .inner .search .popDate table thead tr:last-child td {
        font-weight: bold;
        font-size: 18px;
    }

    .airportVis .inner .search .popDate table tbody>tr>td>p {
        height: 45px;
        width: 45px;
        border-radius: 45px;
        transition-duration: 0.2s;
        line-height: 45px;
        margin: 2.5px;
        display: block;
        text-align: center;
    }

    .airportVis .inner .search .popDate table .pastDay {
        color: lightgray;
    }

    .airportVis .inner .search .popDate table .today {
        background: tan;
        color: white;
    }

    .airportVis .inner .search .popDate table .futureDay {
        background: white;
    }

    .airportVis .inner .search .popDate table .futureDay:hover {
        background: lightgray;
    }

    .airportVis .inner .search .popDate table .futureDay.choiceDay,
    .airportVis .inner .search .popDate table .today.choiceDay {
        background: orange;
        color: white;
    }














    .airportCon .md .inner {
        height: 550px;
        box-sizing: border-box;
    }

    .airportCon .md .inner h3 {
        padding-top: 100px;
        margin-bottom: 43px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }

    .airportCon .md .inner .md_recomend {
        display: flex;
    }
    .airportCon .md .inner .md_recomend-box {
        display: none;
    }
    .airportCon .md .inner .md_recomend-box.on {
        display: flex;
    }
    .airportCon .md .inner .md_recomend li {
        width: 125px;
        height: 60px;
        text-align: center;
        line-height: 4;
        font-size: 16px;
        margin-right: 10px;
        border-radius: 30px;
        background: white;
        border: 1px solid lightgray;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }

    .airportCon .md .inner .md_recomend li.on {
        background: lightsalmon;
    }

    .airportCon .md .md_recomend-box {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .airportCon .md .md_recomend-box li {
        position: relative;
        width: 350px;
        height: 230px;
        border-radius: 10px;
        background: white;
        border: 1px solid lightgray;
        box-sizing: border-box;
        padding: 20px;
    }
    .airportCon .md .md_recomend-box li a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .airportCon .md .md_recomend-box li img {
        height: 35px;
    }

    .airportCon .md .md_recomend-box li .air_c {
        margin-left: 10px;
        font-size: 16px;
        position: absolute;
        top: 25px;
    }

    .airportCon .md .md_recomend-box li strong {
        display: block;
        padding-top: 10px;
        font-size: 16px;
        border-top: 1px dotted lightgray;
        margin-bottom: 10px;
    }

    .airportCon .md .md_recomend-box li strong i {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        vertical-align: -10%;
    }

    .airportCon .md .md_recomend-box li .date_s {
        color: gray;
    }

    .airportCon .md .md_recomend-box li .date_p {
        display: block;
        margin-top: 10px;
        border-bottom: 1px dotted lightgray;
        padding-bottom: 10px;
    }

    .airportCon .md .md_recomend-box li p {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: orangered;
        font-size: 20px;
        font-weight: 500;
    }

    .airportCon .md .md_recomend-box li p>span {
        color: gray;
        font-size: 16px;
        font-weight: normal;
    }

    /* md */











    .airportCon .air {
        background: lightcyan;
    }
    .airportCon .air .inner {
        height: 750px;

    }

    .airportCon .air .inner h3 {
        padding-top: 100px;
        margin-bottom: 43px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
    .airportCon .air .inner h3 i {
        margin-left: 10px;
    }
    .airportCon .air .airboxOut {
        overflow: hidden;
    }
    .airportCon .air .airbox {
        display: flex;
        transition: 0.3s;
    }
    .airportCon .air .air_recomend-box {
        display: flex;
    }

    .airportCon .air .air_recomend-box li {
        position: relative;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 55px;
    }

    .airportCon .air .air_recomend-box li img {
        width: 250px;
        display: block;
        border-radius: 10px;
    }

    .airportCon .air .air_recomend-box li .air_c {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
        color: gray;
    }
    .airportCon .air .air_recomend-box li strong {
        display: block;
        font-size: 20px;
        font-weight: 600;
    }
    .airportCon .air .air_recomend-box li .date_s {
        font-size: 15px;
    }
    .airportCon .air .air_recomend-box li p {
        margin-top: 5px;
        font-size: 24px;
        font-weight: 700;
    }
    .airportCon .air .air_recomend-box li p>span {
        font-size: 15px;
        font-weight: normal;
    }

    .airportCon .air .dot {
        display: flex;
        margin: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
    }
    .airportCon .air .dot li {
        width: 20px;
        height: 20px;
        background: gray;
        margin: 5px;
        border-radius: 50%;
        transition: 0.3s;
    }
    .airportCon .air .dot li.on {
        background: #000;
        width: 50px;
        height: 20px;
        border-radius: 10px;
    }



    .airportCon .benefit {
        height: 600px;
        background: lightgoldenrodyellow;
    }
    .airportCon .benefit h3 {
        padding-top: 50px;
        margin-bottom: 43px;
        text-align: left;
        font-size: 30px;
        font-weight: 500;
    }
    .airportCon .benefit ul {
        display: flex;
        justify-content: space-between;
    }
    .airportCon .benefit ul li {
        width: 300px;
        height: 300px;
    }
    .airportCon .benefit ul li img {
        width: 282px;
        height: 210px;
    }
    .airportCon .benefit ul li p {
        margin-top: 10px;
        color: gray;
        font-size: 16px;
    }
    .airportCon .benefit ul li span {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
    }
