#wrap {
    width: 100%;
    min-width: 1600px;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 150px;
    transition: 0.3s;
    padding-top: 40px;
    background: #FFF;
    overflow: hidden;
}

#header.on {
    height: 280px;
    /* 전체메뉴 높이값 */
}

#header .inner {
    width: 1200px;
    height: 110px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

#header h1 {
    position: absolute;
    left: 0;
    top: 50px;
}

#header .top-menu {
    position: absolute;
    right: 0;
    top: -20px;
    display: flex;
}

#header .top-menu li {
    margin-left: 15px;
}

#header .top-menu li a {
    font-size: 14px;
}

#header .nav {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
}

#header .nav .gnb {
    display: flex;
}

#header .nav .gnb li {
    margin-left: 50px;
    position: relative;
}

#header .nav .gnb>li:first-child {
    margin-left: 0;
}

#header .nav .gnb li a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;
}

#header .total-menu {
    position: relative;

    left: 17%;
    top: 65px;
    width: 100px;
    /* left: 50%; */
    top: 65px;
    transform: translateX(-50%);

    background: #FFF;
    border: none;
}

#header .total-menu a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;
}

#header .total-menu-bar {
    position: absolute;
    /* width: 800px; */
    left: 105px;
    top: 70px;
    /* border: 1px solid #000; */
    transition: 0.3s;
    display: none;
}

#header .total-menu .total-menu-bar.on {
    display: block;
}

#header .total-menu-bar .total-menu-list {
    width: 100%;
    /* border: 1px solid #000; */
}

#header .total-menu-bar .total-menu-list>li {
    display: flex;
}

#header .total-menu-bar .total-menu-list li ul {
    /* border: 1px solid #000; */
    width: 135px;
}

#header .total-menu-bar .total-menu-list li ul li {}

#header .nav .gnb li ul {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    position: absolute;
    top: 35px;
    display: flex;
    left: 0;
}

#header .nav .gnb li ul.on {
    opacity: 1;
    pointer-events: auto;
    top: 35px;
}


#header .nav .gnb li ul li {
    margin-left: 0;
    margin-right: 15px;
}

#header .nav .gnb li ul li a {
    line-height: 40px;
    color: #000;
    font-weight: normal;
    transition: 0.4s;
}

#header .nav .gnb li ul li a:hover {
    background: #888;
    color: #000;
}

#visual {
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(https://via.placeholder.com/1920x600);
}