#wrap {
    width: 100%;
}

#header,
#footer,
#visual,
#subVisual {
    width: 100%;
}

.inner {
    width: 95%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

/* 공지사항 CSS */
.noticeVis {
    width: 100%;
    height: 41.6667vw;
    background-image: url(../images/qna/qnaVisual.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    text-align: center;
}

.noticeVis h2 {
    width: 100%;
    padding-top: 5.5556vw;
    margin-bottom: 5.5556vw;
    text-align: center;
    font-size: 4.4444vw;
    font-weight: 700;
    color: #fff;
}

.noticeVis .notice-swicth-qna {
    display: flex;
    justify-content: center;
}

.noticeVis p button {
    width: 40%;
    height: 11.1111vw;
    box-sizing: border-box;
    border: none;
    font-size: 4.4444vw;
    cursor: pointer;
}

.noticeVis p button a {
    display: inline-block;
    width: 100%;
    height: 11.1111vw;
    line-height: 11.1111vw;
    font-size: 3.8889vw;
    font-weight: 700;
}

.noticeVis .goto-notice {
    background: skyblue;
}

.noticeVis .goto-notice a {
    color: #FFF;
}

.notice h3 {
    font-size: 6.1111vw;
    font-weight: 700;
    margin: 5.5556vw;
    margin-bottom: 5.5556vw;
}

.notice .notice-search {
    margin: 5.5556vw;
    height: 11.1111vw;
    display: flex;
    justify-content: space-between;
}

.notice .notice-search select {
    display: block;
    width: 50%;
    height: 8.3333vw;
    box-sizing: border-box;
    margin-right: 2.7778vw;
    font-size: 4.4444vw;
}

.notice .notice-search select option {}

.notice .notice-search input {
    width: 70%;
    height: 8.3333vw;
    box-sizing: border-box;
    margin-right: 2.7778vw;
    padding-left: 2.7778vw;
    font-size: 4.4444vw;
}

.notice .notice-search .btn-notice-search {
    width: 25%;
    height: 8.3333vw;
    box-sizing: border-box;
    font-size: 4.4444vw;
    background: skyblue;
    cursor: pointer;
    border: 0.2778vw solid #999;
}

.notice .notice-board {}

.notice .notice-board .notice-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.notice .notice-board .notice-list>li {
    width: 100%;
    text-align: center;
    padding: 2.7778vw 0;
    height: 16.6667vw;
    line-height: 11.1111vw;
    font-size: 3.8889vw;
    border: 0.2778vw solid #DDD;
    border-bottom: 0.2778vw solid #1288ac;
    box-sizing: border-box;
    cursor: pointer;
}

.notice .notice-board .notice-list li.on {
    border: 0.2778vw solid #1288ac;
    border-bottom: none;
}

.notice .notice-board .notice-list li.on strong {
    color: #1288ac;
}

.notice .notice-board .notice-board-content li div {
    width: 100%;
    margin-top: 5.5556vw;
    display: none;
    text-align: center;
}

.notice .notice-board .notice-board-content li div.on {
    display: block;
}

.notice-paging {
    height: 8.3333vw;
    margin: 5.5556vw 0;
    display: flex;
    justify-content: center;
}

.notice-paging button {
    width: 7%;
    height: 8.3333vw;
    line-height: 8.3333vw;
    font-size: 3.8889vw;
    margin: 0 1.3889vw;
    background: #FFF;
    border: 0.2778vw solid #DDD;
    color: #aaa;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

.notice-paging button.on {
    background: skyblue;
    color: #000;
}

.notice-board .notice-table {}

.notice-board .notice-table .w1 {
    width: 8%;
}

.notice-board .notice-table .w2 {
    width: 17%;
}

.notice-board .notice-table .w3 {
    width: 60%;
}

.notice-board .notice-table .w4 {
    width: 10%;
}

.notice-board .notice-table thead {}

.notice-board .notice-table thead tr {}

.notice-board .notice-table thead tr th {
    height: 8.3333vw;
    box-sizing: border-box;
    border-top: 1.3889vw solid #ddd;
    border-right: 0.2778vw solid #ddd;
    background: #eee;
    padding: 2.7778vw 0;
    font-size: 3.8889vw;
    font-weight: 700;
    box-sizing: border-box;
}

.notice-board .notice-table thead tr th:last-child {
    border-right: none;
}

.notice-board .notice-table tbody {}

.notice-board .notice-table tbody tr {}

.notice-board .notice-table tbody tr td {
    height: 16.6667vw;
    border: 0.2778vw solid #ddd;
    padding: 2.7778vw 1.3889vw;
    font-size: 3.6111vw;
    box-sizing: border-box;
}

.notice-board .notice-table tbody tr td:first-child {
    border-left: none;
}

.notice-board .notice-table tbody tr td:nth-child(3) {
    text-align: left;
    padding-left: 2.7778vw;
    cursor: pointer;
}

.notice-board .notice-table tbody tr td:last-child {
    border-right: none;
}