#wrap {
    width: 100%;
}

#header,
#footer,
#visual,
#subVisual {
    width: 100%;
}

.inner {
    width: 95%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

/* 자주찾는질문 CSS */
.qnaVis {
    width: 100%;
    height: 41.6667vw;
    background-image: url(../images/qna/qnaVisual.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    text-align: center;
}


.qnaVis h2 {
    width: 100%;
    padding-top: 5.5556vw;
    margin-bottom: 5.5556vw;
    text-align: center;
    font-size: 4.4444vw;
    font-weight: 700;
    color: #fff;
}

.qnaVis .notice-swicth-qna {
    display: flex;
    justify-content: center;
}

.qnaVis p button {
    width: 40%;
    height: 11.1111vw;
    box-sizing: border-box;
    border: none;
    font-size: 4.4444vw;
    cursor: pointer;
}

.qnaVis p button a {
    display: inline-block;
    width: 100%;
    height: 11.1111vw;
    line-height: 11.1111vw;
    font-size: 3.8889vw;
    font-weight: 700;
}

.qnaVis .goto-qna {
    background: skyblue;
}

.qnaVis .goto-qna a {
    color: #FFF;
}

.qna h3 {
    font-size: 6.1111vw;
    font-weight: 700;
    margin: 5.5556vw;
    margin-bottom: 5.5556vw;
}

.qna .qna-search {
    margin: 5.5556vw;
    height: 11.1111vw;
    display: flex;
    justify-content: space-between;
}

.qna .qna-search input {
    width: 70%;
    height: 8.3333vw;
    box-sizing: border-box;
    margin-right: 2.7778vw;
    padding-left: 2.7778vw;
    font-size: 4.4444vw;
}

.qna .qna-search .btn-qna-search {
    width: 25%;
    height: 8.3333vw;
    box-sizing: border-box;
    font-size: 4.4444vw;
    background: skyblue;
    cursor: pointer;
    border: 0.2778vw solid #999;
}

.qna .qna-list {
    width: 100%;
    margin-bottom: 20vw;
}

.qna .qna-list .qna-list>li {
    width: 100%;
}

.qna .qna-list li {
    border-bottom: 0.2778vw solid #ddd;
    box-sizing: border-box;
    padding: 4.1667vw 5.5556vw;
    position: relative;
    cursor: pointer;
}

.qna .qna-list li.on {
    background: #eee;
}

.qna .qna-list li:first-child {
    border-top: 0.2778vw solid #000;
}

.qna .qna-list li:last-child {
    border-bottom: 0.2778vw solid #000;
}

.qna .qna-list li strong {
    width: 75%;
    font-size: 4.4444vw;
    margin-left: 12.5000vw;
    display: inline-block;
}

.qna .qna-list li strong::before {
    content: "Q";
    display: inline-block;
    margin-left: 5.5556vw;
    margin-right: 4.1667vw;
    position: absolute;
    left: 0;
    width: 8.3333vw;
    height: 8.3333vw;
    border-radius: 50%;
    background: #ddd;
    text-align: center;
    font-size: 4.4444vw;
    line-height: 8.3333vw;
    font-weight: 700;
    color: #FFF;
}

.qna .qna-list li.on strong::before {
    background: #000;
}

.qna .qna-list li strong::after {
    font-family: xeicon;
    content: "\e941";
    font-size: 4.4444vw;
    font-weight: 700;
    position: absolute;
    right: 5.5556vw;
    top: 4.1667vw;
    color: #ddd;
}

.qna .qna-list li.on strong::after {
    font-family: xeicon;
    content: "\e944";
    color: #000;
}

.qna .qna-list li div {
    position: relative;
    padding-left: 12.5000vw;
    margin-top: 4.1667vw;
    padding-top: 5.5556vw;
    display: none;
    box-sizing: border-box;
    border-top: 0.2778vw solid #ddd;
}

.qna .qna-list li.on div {
    display: block;
    /* border: 0.2778vw solid #000; */
}

.qna .qna-list li.on div::before {
    content: "A";
    position: absolute;
    left: 0;
    top: 5.5556vw;
    margin-right: 4.1667vw;
    width: 8.3333vw;
    height: 8.3333vw;
    border-radius: 50%;
    background: skyblue;
    text-align: center;
    font-size: 4.4444vw;
    line-height: 8.3333vw;
    font-weight: 700;
    color: #FFF;
}

.qna .qna-list li.on div p {
    word-break: keep-all;
}

.qna .qna-paging {
    margin: 5.5556vw 0;
    text-align: center;
}

.qna .qna-paging button {
    display: inline-block;
    background: #fff;
    border: none;
    width: 8.3333vw;
    height: 8.3333vw;
    margin: 0 2.7778vw;
    line-height: 8.3333vw;
    cursor: pointer;
    font-size: 4.4444vw;
}

.qna .qna-paging span {
    display: inline-block;
    width: 11.1111vw;
    height: 11.1111vw;
    margin: 0 1.3889vw;
    line-height: 11.1111vw;
    cursor: pointer;
    font-size: 4.4444vw;
}

.qna .qna-paging span.on {
    background: skyblue;
    border-radius: 50%;
}