.starbucks {
    width: 1200px;
    margin: auto;

    h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding: 20px 0;
    }

    .menu {
        text-align: center;
        display: flex;
        justify-content: center;

        li {
            padding: 8px 30px;
            font-size: 16px;
            border: none;
            background: #333;
            color: #fff;
            margin-right: 14px;
            cursor: pointer;
            user-select: none;
            border-radius: 25px;

            &:last-child {
                margin-right: 0;
            }

            &.on {
                background: #046241;
            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        li {
            width: 350px;
            margin-right: 20px;
            margin-bottom: 25px;
            border: 1px solid #999;
            padding: 15px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            img {
                width: 350px;
            }

            h3 {
                font-size: 20px;
                color: tomato;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            p {
                margin-bottom: 5px;
            }
        }
    }
}