.Color {
	width: 33.333%;
	height: 100px;
	opacity: 0.9;
}

.Color.active {
	opacity: 1;
}

.ColorSquare {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}