.MelonForm {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;

    input {
        width: 50%;
        height: 50px;
        border: 1px solid #dcdcdc;
        padding: 3px 25px
    }
}