.board {
    width: 1200px;
    margin: 80px auto;
}

.board table {
    width: 1200px;
}

.board table caption {
    position: absolute;
    left: -999999999px;
    top: 0;
    overflow: hidden;
}

.board table .id {
    width: 5%;
}

.board table .title {
    width: 30%;
}


.board table th,
.board table td {
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}

.board table td:nth-child(1) {
    text-align: center;
}

.board .paging {
    margin-top: 40px;
    text-align: center;
}

.board .paging a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.board .paging a.on {
    background: pink;
}