#wrap {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 5.0000vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header {
  width: 100%;
  height: 15.2778vw;
  position: relative;
}

#header h1 {
  text-align: center;
  padding-top: 4.1667vw;
}

#header h1 img {
  width: 20.8333vw;
}

#header .all-menu {
  position: absolute;
  top: 4.1667vw;
  left: 5.5556vw;
}

#header .all-menu i {
  font-size: 6.9444vw;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.7;
  z-index: 50;
  display: none;
}

.bg.on {
  display: block;
}

#nav {
  position: fixed;
  left: -80%;
  top: 0;
  width: 80%;
  background: tan;
  box-sizing: border-box;
  padding: 19.4444vw 13.8889vw;
  z-index: 100;
  height: 100vh;
  transition: 0.3s;
}

#nav.on {
  left: 0;
}

#nav .gnb {
  width: 100%;
}

#nav .gnb li {}

#nav .gnb li a {
  font-size: 5.0000vw;
  font-weight: 700;
  display: block;
  line-height: 11.1111vw;
  border-bottom: 1px solid #999;
}

#nav .gnb li ul {
  transition: 0.3s;
  overflow: hidden;
  height: 0;
}

#nav .gnb li.m1 ul.on {
  height: 50.0000vw;
}

#nav .gnb li.m2 ul.on {
  height: 44.4444vw;
}

#nav .gnb li.m3 ul.on {
  height: 55.5556vw;
}

#nav .gnb li.m4 ul.on {
  height: 38.8889vw;
}

#nav .gnb li.m5 ul.on {
  height: 61.1111vw;
}

#nav .gnb li ul li {}

#nav .gnb li ul li a {
  font-size: 4.4444vw;
  font-weight: normal;
  text-indent: 4.1667vw;
}

#nav .close {
  position: absolute;
  right: 5.5556vw;
  top: 5.5556vw;
}

#nav .close i {
  font-size: 8.3333vw;
}

#container {}

#content {}

.main {}

.main .list {
  display: flex;
  flex-wrap: wrap;
}

.main .list li {
  width: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 50.0000vw;
  text-align: center;
}

.main .list li:nth-child(1) {
  background-image: url(../images/bg1.jpg);
}

.main .list li:nth-child(2) {
  background-image: url(../images/bg2.jpg);
}

.main .list li:nth-child(3) {
  background-image: url(../images/bg3.jpg);
}

.main .list li:nth-child(4) {
  background-image: url(../images/bg4.jpg);
}

.main .list li a {
  display: block;
  box-sizing: border-box;
  color: #fff;
  padding-top: 33.3333vw;
  background-repeat: no-repeat;
  background-position-x: 55%;
}

.main .list li:nth-child(1) a {
  background-image: url(../images/ico_0.png);
  background-size: 45%;
  background-position-y: 40%;
}

.main .list li:nth-child(2) a {
  background-image: url(../images/ico_1.png);
  background-size: 30%;
  background-position-y: 40%;
}

.main .list li:nth-child(3) a {
  background-image: url(../images/ico_2.png);
  background-size: 40%;
  background-position-y: 45%;
}

.main .list li:nth-child(4) a {
  background-image: url(../images/ico_3.png);
  background-size: 30%;
  background-position-y: 40%;
}

.main .con1 {
  padding: 11.1111vw 0;
}

.main .con1 h2 {
  font-size: 8.3333vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5.5556vw;
}

.side-bar {
  height: 36.1111vw;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/bom_visual.jpg);
  background-size: cover;
}

.side-bar .menu {
  padding: 8.3333vw 2.7778vw;
}

.side-bar .menu img {
  width: 11.1111vw;
}