#wrap {
    width: 100%;
}
.inner {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
}

/* airport */
/* airport */
/* airport */
/* airport */
/* airport */

/* airport visual */
.airportVis {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}
.airportVis .viss {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 5;
}
.airportVis .viss img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
.airportVis .inner {
    position: relative;
    height: 600px;
}
.airportVis .bgibox {
    position: absolute;
    width: 100%;
    transition: 0.4s;
}
.airportVis .bgibox .inner {
    width: 1200px;
}
.airportVis .bgibox .inner .event {
    position: absolute;
    width: 430px;
    height: 260px;
    top: 80px;
    left: 0;
    color: white;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
}
.airportVis .box1 {
    background-image: url(../images/airport/visual/visual12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.airportVis .box2 {
    background-image: url(../images/airport/visual/visual10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.airportVis .box3 {
    background-image: url(../images/airport/visual/visual0-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.airportVis .box4 {
    background-image: url(../images/airport/visual/visual2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.airportVis .box5 {
    background-image: url(../images/airport/visual/visual3x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.airportVis .box1 .inner .event {
    background: rgba(2, 50, 120);
}
.airportVis .box2 .inner .event {
    background: rgba(0, 50, 160, 0.9);
}
.airportVis .box3 .inner .event {
    background: rgba(172, 161, 16, 0.9);
}
.airportVis .box4 .inner .event {
    background: rgba(104, 65, 216, 0.9);
}
.airportVis .box5 .inner .event {
    background: rgba(116, 69, 4, 0.9);
}
.airportVis .bgibox h3 {
    font-size: 30px;
    text-align: left;
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 1.3;
}
.airportVis .bgibox h3:first-child {
    margin: 0;
}
.airportVis .bgibox p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
.airportVis .inner .btn {
    position: absolute;
    display: flex;
    left: 30px;
    top: 45%;
}
.airportVis .inner .btn button {
    cursor: pointer;
}
.airportVis .inner .btn .prev,
.airportVis .inner .btn .next,
.airportVis .inner .btn .play, 
.airportVis .inner .btn .pause {
    border: 1px solid white;
    background: none;
}
.airportVis .inner .btn .play {
    display: none;
}
.airportVis .inner .btn .prev,
.airportVis .inner .btn .next {
    border-right: none;
}
.airportVis .inner .btn i {
    font-size: 30px;
    color: white;
}

/* airport search */
.airportVis .inner {
    z-index: 10;
}
.airportVis .inner .search {
    position: absolute;
    width: 1200px;
    height: 220px;
    background: white;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px ;
    padding: 20px;
    text-align: left;
}
.airportVis .inner .search .way {
    text-align: left;
}
.airportVis .inner .search .way strong {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}
.airportVis .inner .search .way .roundBtn {
    border-bottom: 2px solid gray;
}
.airportVis .inner .search .way strong:hover {
    border-bottom: 2px solid gray;
}
.airportVis .inner .search .one {
    display: none;
}
.airportVis .inner .search .where {
    margin-top: 20px;
    margin-bottom: 10px;
}
.airportVis .inner .search .where span,
.airportVis .inner .search .when span {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 10px;
    color: gray;
    box-sizing: border-box;
    cursor: pointer;
}
.airportVis .inner .search .where .start,
.airportVis .inner .search .where .end,
.airportVis .inner .search .when .pers {
    width: 400px;
    cursor: pointer;
}
.airportVis .inner .search .where i {
    vertical-align: -40%;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.airportVis .inner .search .when .start_date,
.airportVis .inner .search .when .end_date {
    width: 190px;
    margin-right: 15px;
}
.airportVis .inner .search .one .when .start_date{
    width: 190px;
    margin-right: 223.5px;
}
.airportVis .inner .search .when .pers {
    margin-left: 80px;
}
.airportVis .inner .search .when {
    
}
.airportVis .inner .search .when .serch_btn {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: skyblue;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* airport popup */
.airportVis .inner .search .popStaBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 310px;
    top: 110px;
    left: 20px;
    box-sizing: border-box;
}
.airportVis .inner .search .popDesBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 310px;
    top: 110px;
    left: 520px;
    box-sizing: border-box;
}
.airportVis .inner .search .popSta {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    top: -300px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popDes {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    top: -300px;
    left: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popSta p,
.airportVis .inner .search .popDes p,
.airportVis .inner .search .popPer p {
    margin: 10px;
    text-align: right;
}
.airportVis .inner .search .popSta p i, 
.airportVis .inner .search .popDes p i,
.airportVis .inner .search .popPer p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.airportVis .inner .search .popSta p i:hover,
.airportVis .inner .search .popDes p i:hover,
.airportVis .inner .search .popPer p i:hover {
    transform: rotate(90deg);
    color: red;
}
.airportVis .inner .search .popSta ul,
.airportVis .inner .search .popDes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}
.airportVis .inner .search .popSta li,
.airportVis .inner .search .popDes li {
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}
.airportVis .inner .search .popSta li:hover,
.airportVis .inner .search .popDes li:hover {
    text-decoration: underline;
}
.airportVis .inner .search .popPerBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 310px;
    top: 180px;
    left: 520px;
    box-sizing: border-box;
}
.airportVis .inner .search .popPer {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    top: -300px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popPer ul {
    position: relative;
    margin: 30px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}
.airportVis .inner .search .popPer ul li {
    height: 70px;
}
.airportVis .inner .search .popPer ul li .pers {
    position: absolute;
    display: inline-block;
    right: 0;
}
.airportVis .inner .search .popPer ul li span {
    font-size: 18px;
}
.airportVis .inner .search .popPer ul li span em {
    font-size: 14px;
    color: gray;
    margin-left: 5px;
}
.airportVis .inner .search .popPer ul li .min,
.airportVis .inner .search .popPer ul li .plus {
    background: white;
}
.airportVis .inner .search .popPer ul i {
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.airportVis .inner .search .popPer ul li button {
    border: none;
    margin: 5px;
}
.airportVis .inner .search .popPer ul li strong {
    font-size: 22px;
    font-weight: 600;
}

/* airport calendal */
.airportVis .inner .search .popDateBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.airportVis .inner .search .popDateBox .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popDateBoxR {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 220px;
    box-sizing: border-box;
    padding: 20px;
}
.airportVis .inner .search .popDateBoxR .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popDateBoxO {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.airportVis .inner .search .popDateBoxO .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.airportVis .inner .search .popDate {
    padding-left: 20px;
}
.airportVis .inner .search .popDateBox1 .popDate {
    display: flex;
    align-items: flex-start;
}
.airportVis .inner .search .popDateBox1>p {
    margin: 10px;
    margin-bottom: 20px;
    text-align: right;
}
.airportVis .inner .search .popDateBox1>p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.airportVis .inner .search .popDateBox1>p i:hover {
    transform: rotate(90deg);
    color: red;
}
.airportVis .inner .search .popDate td {
    width: 50px;
    height: 50px;
    vertical-align: top;
}
.airportVis .inner .search .popDate .popDateS {
    width: 350px;
    height: auto;
    margin-right: 40px;
}
.airportVis .inner .search .popDate .popDateE {
    width: 350px;
    height: auto;
}
.airportVis .inner .search .popDate table {
    text-align: center;

}
.airportVis .inner .search .popDate table i {
    font-size: 34px;
}
.airportVis .inner .search .popDate table thead tr:first-child td {
    font-weight: bold;
    font-size: 22px;
}
.airportVis .inner .search .popDate table thead tr:last-child td {
    font-weight: bold;
    font-size: 18px;
}
.airportVis .inner .search .popDate table tbody>tr>td>p {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: 0.2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}
.airportVis .inner .search .popDate table .pastDay {
    color: lightgray;
}

.airportVis .inner .search .popDate table .today {
    background: tan;
    color: white;
}
.airportVis .inner .search .popDate table .futureDay {
    background: white;
}
.airportVis .inner .search .popDate table .futureDay:hover {
    background: lightgray;
}
.airportVis .inner .search .popDate table .futureDay.choiceDay,
.airportVis .inner .search .popDate table .today.choiceDay {
    background: orange;
    color: white;
}
/* // airport visual */

/* airport content */
/* airport md recoment */
.airportCon .md .inner {
    height: 550px;
    box-sizing: border-box;
}
.airportCon .md .inner h3 {
    padding-top: 100px;
    margin-bottom: 43px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.airportCon .md .inner .md_recomend {
    display: flex;
}
.airportCon .md .inner .md_recomend-box {
    display: none;
}
.airportCon .md .inner .md_recomend-box.on {
    display: flex;
}
.airportCon .md .inner .md_recomend li {
    width: 125px;
    height: 60px;
    text-align: center;
    line-height: 4;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 30px;
    background: white;
    border: 1px solid lightgray;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.airportCon .md .inner .md_recomend li.on {
    background: skyblue;
}

.airportCon .md .md_recomend-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.airportCon .md .md_recomend-box li {
    position: relative;
    width: 350px;
    height: 230px;
    border-radius: 10px;
    background: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 20px;
}
.airportCon .md .md_recomend-box li a {
    display: block;
    width: 100%;
    height: 100%;
}
.airportCon .md .md_recomend-box li img {
    height: 35px;
}
.airportCon .md .md_recomend-box li .air_c {
    margin-left: 10px;
    font-size: 16px;
    position: absolute;
    top: 25px;
}
.airportCon .md .md_recomend-box li strong {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    border-top: 1px dotted lightgray;
    margin-bottom: 10px;
}
.airportCon .md .md_recomend-box li strong i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: -10%;
}
.airportCon .md .md_recomend-box li .date_s {
    color: gray;
}
.airportCon .md .md_recomend-box li .date_p {
    display: block;
    margin-top: 10px;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 10px;
}
.airportCon .md .md_recomend-box li p {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: orangered;
    font-size: 20px;
    font-weight: 500;
}
.airportCon .md .md_recomend-box li p>span {
    color: gray;
    font-size: 16px;
    font-weight: normal;
}

/* airport air recomend*/
.airportCon .air {
    background: lightcyan;
}
.airportCon .air .inner {
    height: 750px;
}
.airportCon .air .inner h3 {
    padding-top: 100px;
    margin-bottom: 43px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.airportCon .air .inner h3 i {
    margin-left: 10px;
}
.airportCon .air .airboxOut {
    overflow: hidden;
}
.airportCon .air .airbox {
    display: flex;
    transition: 0.3s;
}
.airportCon .air .air_recomend-box {
    display: flex;
}
.airportCon .air .air_recomend-box li {
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 55px;
}
.airportCon .air .air_recomend-box li img {
    width: 250px;
    display: block;
    border-radius: 10px;
}
.airportCon .air .air_recomend-box li .air_c {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}
.airportCon .air .air_recomend-box li strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
}
.airportCon .air .air_recomend-box li .date_s {
    font-size: 15px;
}
.airportCon .air .air_recomend-box li p {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 700;
}
.airportCon .air .air_recomend-box li p>span {
    font-size: 15px;
    font-weight: normal;
}
.airportCon .air .dot {
    display: flex;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}
.airportCon .air .dot li {
    width: 20px;
    height: 20px;
    background: gray;
    margin: 5px;
    border-radius: 50%;
    transition: 0.3s;
}
.airportCon .air .dot li.on {
    background: #000;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}

/* airport benefit */
.airportCon .benefit {
    height: 600px;
    background: lightgoldenrodyellow;
}
.airportCon .benefit h3 {
    padding-top: 50px;
    margin-bottom: 43px;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}
.airportCon .benefit ul {
    display: flex;
    justify-content: space-between;
}
.airportCon .benefit ul li {
    width: 300px;
    height: 300px;
}
.airportCon .benefit ul li img {
    width: 282px;
    height: 210px;
}
.airportCon .benefit ul li p {
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.airportCon .benefit ul li span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
/* // airpirt */
/* // airpirt */
/* // airpirt */
/* // airpirt */
/* // airpirt */

/* hotel */
/* hotel */
/* hotel */
/* hotel */
/* hotel */

/* hotel visual */
.hotelVis {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}
.hotelVis .viss {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 5;
}
.hotelVis .viss img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
.hotelVis .inner {
    position: relative;
    height: 600px;
    z-index: 10;
}
.hotelVis .bgibox {
    position: absolute;
    width: 100%;
    transition: 0.4s;
}
.hotelVis .bgibox .inner {
    width: 1200px;
}
.hotelVis .bgibox .inner .event {
    position: absolute;
    width: 430px;
    height: 260px;
    top: 80px;
    left: 0;
    color: white;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
}
.hotelVis .box1 {
    background-image: url(../images/hotel/visual/visual1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.hotelVis .box2 {
    background-image: url(../images/hotel/visual/visual2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.hotelVis .box3 {
    background-image: url(../images/hotel/visual/visual3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.hotelVis .box4 {
    background-image: url(../images/hotel/visual/visual4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.hotelVis .box5 {
    background-image: url(../images/hotel/visual/visual5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.hotelVis .box1 .inner .event {
    background: rgba(1, 143, 120, 0.9);
}
.hotelVis .box2 .inner .event {
    background: rgba(72, 182, 93, 0.9);
}
.hotelVis .box3 .inner .event {
    background: rgba(12, 101, 255, 0.9);
}
.hotelVis .box4 .inner .event {
    background: rgba(229, 102, 121, 0.9);
}
.hotelVis .box5 .inner .event {
    background: rgba(219, 46, 125, 0.9);
}
.hotelVis .bgibox h3 {
    font-size: 30px;
    text-align: left;
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 1.3;
}
.hotelVis .bgibox h3:first-child {
    margin: 0;
}
.hotelVis .bgibox p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
.hotelVis .inner .btn {
    position: absolute;
    display: flex;
    left: 30px;
    top: 45%;
}
.hotelVis .inner .btn button {
    cursor: pointer;
}
.hotelVis .inner .btn .prev,
.hotelVis .inner .btn .next,
.hotelVis .inner .btn .play, 
.hotelVis .inner .btn .pause {
    border: 1px solid white;
    background: none;
}
.hotelVis .inner .btn .play {
    display: none;
}
.hotelVis .inner .btn .prev,
.hotelVis .inner .btn .next {
    border-right: none;
}
.hotelVis .inner .btn i {
    font-size: 30px;
    color: white;
}

/* hotel search */
.hotelVis .inner .search {
    position: absolute;
    width: 1200px;
    height: 220px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px ;
    padding: 20px;
}
.hotelVis .inner .search .way {
    text-align: left;
}
.hotelVis .inner .search .way strong {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 18px;
}
.hotelVis .inner .search {
    text-align: left;
}
.hotelVis .inner .search .where {
    margin-top: 20px;
    margin-bottom: 10px;
}
.hotelVis .inner .search .where span,
.hotelVis .inner .search .when span {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 10px;
    color: gray;
    box-sizing: border-box;
    cursor: pointer;
}
.hotelVis .inner .search .where .start,
.hotelVis .inner .search .where .end,
.hotelVis .inner .search .when .pers {
    width: 400px;
}
.hotelVis .inner .search .where i {
    vertical-align: -40%;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.hotelVis .inner .search .when .start_date,
.hotelVis .inner .search .when .end_date {
    width: 190px;
    margin-right: 15px;
}
.hotelVis .inner .search .when .pers {
    margin-left: 80px;
}
.hotelVis .inner .search .when .serch_btn {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: skyblue;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* hotel popup */
.hotelVis .inner .search .popWhereBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 0px;
    top: 90px;
    left: 20px;
    box-sizing: border-box;
}
.hotelVis .inner .search .popWhere {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 470px;
    top: -470px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.hotelVis .inner .search .popWhere ul li:nth-child(1),
.hotelVis .inner .search .popWhere ul li:nth-child(6) {
    font-weight: 600;
    width: 100%;
}
.hotelVis .inner .search .popWhere p,
.hotelVis .inner .search .popDes p,
.hotelVis .inner .search .popPer p {
    margin: 10px;
    text-align: right;
}
.hotelVis .inner .search .popWhere p i, 
.hotelVis .inner .search .popDes p i,
.hotelVis .inner .search .popPer p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.hotelVis .inner .search .popWhere p i:hover,
.hotelVis .inner .search .popDes p i:hover,
.hotelVis .inner .search .popPer p i:hover {
    transform: rotate(90deg);
    color: red;
}
.hotelVis .inner .search .popWhere ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    margin: 30px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}
.hotelVis .inner .search .popWhere li {
    text-align: center;
    margin: 8px 12px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}
.hotelVis .inner .search .popWhere li:hover {
    text-decoration: underline;
}
.hotelVis .inner .search .popPerBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 310px;
    top: 180px;
    left: 520px;
    box-sizing: border-box;
}
.hotelVis .inner .search .popPer {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    top: -300px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.hotelVis .inner .search .popPer ul {
    position: relative;
    margin: 30px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}
.hotelVis .inner .search .popPer ul li {
    height: 70px;
}
.hotelVis .inner .search .popPer ul li .pers {
    position: absolute;
    display: inline-block;
    right: 0;
}
.hotelVis .inner .search .popPer ul li span {
    font-size: 18px;
}
.hotelVis .inner .search .popPer ul li span em {
    font-size: 14px;
    color: gray;
    margin-left: 5px;
}
.hotelVis .inner .search .popPer ul li .min,
.hotelVis .inner .search .popPer ul li .plus {
    background: white;
}
.hotelVis .inner .search .popPer ul i {
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.hotelVis .inner .search .popPer ul li button {
    border: none;
    margin: 5px;
}
.hotelVis .inner .search .popPer ul li strong {
    font-size: 22px;
    font-weight: 600;
}

/* hotel calendal */
.hotelVis .inner .search .popDateBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.hotelVis .inner .search .popDateBox .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.hotelVis .inner .search .popDateBoxR {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 220px;
    box-sizing: border-box;
    padding: 20px;
}
.hotelVis .inner .search .popDateBoxR .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.hotelVis .inner .search .popDateBoxO {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.hotelVis .inner .search .popDateBoxO .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.hotelVis .inner .search .popDate {
    padding-left: 20px;
}
.hotelVis .inner .search .popDateBox1 .popDate {
    display: flex;
    align-items: flex-start;
}
.hotelVis .inner .search .popDateBox1>p {
    margin: 10px;
    margin-bottom: 20px;
    text-align: right;
}
.hotelVis .inner .search .popDateBox1>p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.hotelVis .inner .search .popDateBox1>p i:hover {
    transform: rotate(90deg);
    color: red;
}
.hotelVis .inner .search .popDate td {
    width: 50px;
    height: 50px;
    vertical-align: top;
}
.hotelVis .inner .search .popDate .popDateS {
    width: 350px;
    height: auto;
    margin-right: 40px;
}
.hotelVis .inner .search .popDate .popDateE {
    width: 350px;
    height: auto;
}
.hotelVis .inner .search .popDate table {
    text-align: center;
}
.hotelVis .inner .search .popDate table i {
    font-size: 34px;
}
.hotelVis .inner .search .popDate table thead tr:first-child td {
    font-weight: bold;
    font-size: 22px;
}
.hotelVis .inner .search .popDate table thead tr:last-child td {
    font-weight: bold;
    font-size: 18px;
}
.hotelVis .inner .search .popDate table tbody>tr>td>p {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: 0.2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}
.hotelVis .inner .search .popDate table .pastDay {
    color: lightgray;
}
.hotelVis .inner .search .popDate table .today {
    background: tan;
    color: white;
}
.hotelVis .inner .search .popDate table .futureDay {
    background: white;
}
.hotelVis .inner .search .popDate table .futureDay:hover {
    background: lightgray;
}
.hotelVis .inner .search .popDate table .futureDay.choiceDay,
.hotelVis .inner .search .popDate table .today.choiceDay {
    background: orange;
    color: white;
}
/* // hotel visual */

/* hotel content */
.hotelCon .inner {
    height: 550px;
    box-sizing: border-box;
}
.hotelCon .inner h3 {
    padding-top: 100px;
    margin-bottom: 43px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.hotelCon .hotel {
    background: lightcyan;
}
.hotelCon .hotel .inner {
    height: 750px;
}
.hotelCon .hotel .inner h3 {
    padding-top: 100px;
    margin-bottom: 43px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.hotelCon .hotel .inner h3 .xi-hotel {
    margin-left: 10px;
}
.hotelCon .hotel .hotelboxOut {
    overflow: hidden;
}
.hotelCon .hotel .hotelbox {
    display: flex;
    transition: 0.3s;
}
.hotelCon .hotel .hotel_recomend-box {
    display: flex;
}
.hotelCon .hotel .hotel_recomend-box li {
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.hotelCon .hotel .hotel_recomend-box li img {
    width: 260px;
    height: 210px;
    display: block;
    border-radius: 10px;
}
.hotelCon .hotel .hotel_recomend-box li .hotel_type {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}
.hotelCon .hotel .hotel_recomend-box li strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hotelCon .hotel .hotel_recomend-box li .hotel_price {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}
.hotelCon .hotel .hotel_recomend-box li p {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 700;
}
.hotelCon .hotel .hotel_recomend-box li p em {
    color: orangered;
    margin-right: 10px;
}
.hotelCon .hotel .hotel_recomend-box li p>span {
    font-size: 15px;
    font-weight: normal;
}
.hotelCon .hotel .dot {
    display: flex;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}
.hotelCon .hotel .dot li {
    width: 20px;
    height: 20px;
    background: gray;
    margin: 5px;
    border-radius: 50%;
    transition: 0.3s;
}
.hotelCon .hotel .dot li.on {
    background: #000;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}
.hotelCon .icon .inner {
    height: 300px;
}
.hotelCon .icon .inner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    margin-top: 30px;
}
.hotelCon .icon .inner ul li {
    width: 100px;
    height: 90px;
}
.hotelCon .icon .inner ul li img {
    width: 60px;
    height: 60px;
}
.hotelCon .icon .inner ul li p {
    text-align: center;
    font-size: 14px;
}
.hotelCon .jeju .inner {
    height: 500px;
    position: relative;
}
.hotelCon .jeju {
    height: 550px;
}
.hotelCon .jeju .inner .jeju_hotel, 
.hotelCon .jeju .inner .seogwipo_hotel {
    margin: auto;
    display: flex;
}
.hotelCon .jeju .inner .jeju_hotel .img .logo {
    display: block;
    width: 250px;
    margin: auto;
}
.hotelCon .jeju .inner .seogwipo_hotel .img .logo {
    display: block;
    margin: auto;
    width: 280px;
}
.hotelCon .jeju .inner .jeju_hotel .img .maps img, 
.hotelCon .jeju .inner .seogwipo_hotel .img .maps img {
    width: 500px;
    height: 370px;
    display: none;
}
.hotelCon .jeju .inner .jeju_hotel .img .maps img:nth-of-type(1), 
.hotelCon .jeju .inner .seogwipo_hotel .img .maps img:nth-of-type(1) {
    display: block;
}
.hotelCon .jeju .jeju_hotel .jeju_boxout,
.hotelCon .jeju .seogwipo_hotel .seogwipo_boxout {
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.hotelCon .jeju .jeju_hotel .jeju_boxout .jeju_box, 
.hotelCon .jeju .seogwipo_hotel .seogwipo_boxout .seogwipo_box {
    width: 700px;
    height: 500px;
    transition: 0.5s;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box {
    width: 700px;
    display: flex;
    position: absolute;
    right: 0;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li, 
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li {
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 130px 10px;
    padding: 20px 0;
    vertical-align: middle;
    width: 210px;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li img,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li img {
    width: 215px;
    height: 160px;
    display: block;
    border-radius: 10px;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li .hotel_type,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li .hotel_type {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li strong,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li strong {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li .hotel_price,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li .hotel_price {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li p,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li p {
    position: absolute;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    text-align: right;
    right: 0px;
    bottom: 20px;
}
.hotelCon .jeju .jeju_hotel .hotel_recomend-box li p>span,
.hotelCon .jeju .seogwipo_hotel .hotel_recomend-box li p>span {
    font-size: 15px;
    font-weight: normal;
}
.hotelCon .jeju .dot {
    display: flex;
    margin: auto;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    bottom: 50px;
}
.hotelCon .jeju .dot i {
    width: 20px;
    height: 20px;
    background: gray;
    margin: 5px;
    border-radius: 50%;
    transition: 0.3s;
}
.hotelCon .jeju .dot i.on {
    background: black;
}

/* hotel benefit */
.hotelCon .benefit {
    height: 600px;
    background: lightgoldenrodyellow;
}
.hotelCon .benefit h3 {
    padding-top: 50px;
    margin-bottom: 43px;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}
.hotelCon .benefit ul {
    display: flex;
    justify-content: space-between;
}
.hotelCon .benefit ul li {
    width: 300px;
    height: 300px;
}
.hotelCon .benefit ul li img {
    width: 282px;
    height: 210px;
}
.hotelCon .benefit ul li p {
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.hotelCon .benefit ul li span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
/* // hotel */
/* // hotel */
/* // hotel */
/* // hotel */
/* // hotel */

/* rent */
/* rent */
/* rent */
/* rent */
/* rent */

/* rent visual */
.rentVis {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}
.rentVis .viss {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 5;
}
.rentVis .viss img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
.rentVis .inner {
    position: relative;
    height: 600px;
    z-index: 10;
}
.rentVis .bgibox {
    position: absolute;
    width: 100%;
    transition: 0.4s;
}
.rentVis .bgibox .inner {
    width: 1200px;
}
.rentVis .bgibox .inner .event {
    position: absolute;
    width: 430px;
    height: 260px;
    top: 80px;
    left: 0;
    color: white;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
}
.rentVis .box1 {
    background-image: url(../images/rent/visual/visual11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.rentVis .box2 {
    background-image: url(../images/rent/visual/visual000.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.rentVis .box3 {
    background-image: url(../images/rent/visual/visual0001.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.rentVis .box4 {
    background-image: url(../images/rent/visual/visual12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.rentVis .box1 .inner .event {
    background: rgba(0, 50, 160, 0.9);
}
.rentVis .box2 .inner .event {
    background: rgba(130, 110, 250, 0.9);
}
.rentVis .box3 .inner .event {
    background: rgba(12, 101, 255, 0.9);
}
.rentVis .box4 .inner .event {
    background: rgba(221, 84, 84, 0.9);
}
.rentVis .bgibox h3 {
    font-size: 30px;
    text-align: left;
    font-weight: 550;
    margin-bottom: 10px;
    line-height: 1.3;
}
.rentVis .bgibox h3:first-child {
    margin: 0;
}
.rentVis .bgibox p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
.rentVis .inner .btn {
    position: absolute;
    display: flex;
    left: 30px;
    top: 45%;
}
.rentVis .inner .btn button {
    cursor: pointer;
}
.rentVis .inner .btn .prev,
.rentVis .inner .btn .next,
.rentVis .inner .btn .play, 
.rentVis .inner .btn .pause {
    border: 1px solid white;
    background: none;
}
.rentVis .inner .btn .play {
    display: none;
}
.rentVis .inner .btn .prev,
.rentVis .inner .btn .next {
    border-right: none;
}
.rentVis .inner .btn i {
    font-size: 30px;
    color: white;
}

/* search */
.rentVis .inner .search {
    position: absolute;
    width: 1200px;
    height: 140px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px ;
    padding: 20px;
    padding-top: 40px;
}
.rentVis .inner .search {
    text-align: left;
}
.rentVis .inner .search .when {
    vertical-align: middle;
    position: relative;
}
.rentVis .inner .search .when span {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    color: gray;
    box-sizing: border-box;
    cursor: pointer;
}
.rentVis .inner .search .when .age {
    position: absolute;
    top: -5px;
    width: 250px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border: none;
    color: #000;
}
.rentVis .inner .search .when .start_date,
.rentVis .inner .search .when .end_date {
    font-size: 18px;
    width: 190px;
    margin-right: 15px;
    vertical-align: middle;
}
.rentVis .inner .search .when .insu {
    width: 200px;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 50px;
}
.rentVis .inner .search .when .serch_btn {
    position: absolute;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: skyblue;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    right: 10px;
    top: 5px;
}

/* rent popup */
.rentVis .inner .search .popInsuBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 0px;
    top: 90px;
    left: 20px;
    box-sizing: border-box;
}
.rentVis .inner .search .popInsu {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    height: 470px;
    top: -470px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.rentVis .inner .search .popInsu p {
    margin: 10px;
    text-align: right;
}
.rentVis .inner .search .popInsu p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.rentVis .inner .search .popInsu p i:hover {
    transform: rotate(90deg);
    color: red;
}
/* rent calendal */
.rentVis .inner .search .popDateBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 110px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.rentVis .inner .search .popDateBox .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 540px;
    top: -540px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.rentVis .inner .search .popDateBox .popDateBox1 .timeS .time_select,
.rentVis .inner .search .popDateBoxR .popDateBox1 .timeE .time_select {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.rentVis .inner .search .popDateBoxR {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 110px;
    left: 220px;
    box-sizing: border-box;
    padding: 20px;
}
.rentVis .inner .search .popDateBoxR .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 540px;
    top: -540px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.rentVis .inner .search .popDateBoxO {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 800px;
    height: 0px;
    top: 180px;
    left: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.rentVis .inner .search .popDateBoxO .popDateBox1{
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 790px;
    height: 480px;
    top: -480px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.rentVis .inner .search .popDate {
    padding-left: 20px;
}
.rentVis .inner .search .popDateBox1 .popDate {
    display: flex;
    align-items: flex-start;
}
.rentVis .inner .search .popDateBox1>p {
    margin: 10px;
    margin-bottom: 20px;
    text-align: right;
}
.rentVis .inner .search .popDateBox1>p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.rentVis .inner .search .popDateBox1>p i:hover {
    transform: rotate(90deg);
    color: red;
}
.rentVis .inner .search .popDate td {
    width: 50px;
    height: 50px;
    vertical-align: top;
}
.rentVis .inner .search .popDate .popDateS {
    width: 350px;
    height: auto;
    margin-right: 40px;
}
.rentVis .inner .search .popDate .popDateE {
    width: 350px;
    height: auto;
}
.rentVis .inner .search .popDate table {
    text-align: center;
}
.rentVis .inner .search .popDate table i {
    font-size: 34px;
}
.rentVis .inner .search .popDate table thead tr:first-child td {
    font-weight: bold;
    font-size: 22px;
}
.rentVis .inner .search .popDate table thead tr:last-child td {
    font-weight: bold;
    font-size: 18px;
}
.rentVis .inner .search .popDate table tbody>tr>td>p {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: 0.2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}
.rentVis .inner .search .popDate table .pastDay {
    color: lightgray;
}
.rentVis .inner .search .popDate table .today {
    background: tan;
    color: white;
}
.rentVis .inner .search .popDate table .futureDay {
    background: white;
}
.rentVis .inner .search .popDate table .futureDay:hover {
    background: lightgray;
}
.rentVis .inner .search .popDate table .futureDay.choiceDay,
.rentVis .inner .search .popDate table .today.choiceDay {
    background: orange;
    color: white;
}
.rentVis .inner .search .popInsuBox {
    position: absolute;
    overflow: hidden;
    z-index: -10;
    width: 410px;
    height: 0px;
    top: 110px;
    left: 490px;
    box-sizing: border-box;
}
.rentVis .inner .search .popInsu {
    position: absolute;
    background: white;
    border: 1px solid #000;
    width: 400px;
    /* height: 270px; */
    height: 170px;
    top: -170px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}
.rentVis .inner .search .popInsu p {
    margin: 10px;
    text-align: right;
}
.rentVis .inner .search .popInsu p i {
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.rentVis .inner .search .popInsu p i {
    transform: rotate(90deg);
    color: red;
}
.rentVis .inner .search .popInsu ul {
    display: flex;
    justify-content: space;
    margin: 30px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}
.rentVis .inner .search .popInsu li {
    text-align: center;
    margin: 8px 12px;
    padding: 5px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}
.rentVis .inner .search .popInsu li:hover {
    text-decoration: underline;
}
/* rent content */
.rentCon .inner {
    height: 550px;
    box-sizing: border-box;
}
.rentCon .inner h3 {
    padding-top: 100px;
    margin-bottom: 43px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.rentCon .rent {
    background: lightcyan;
}
.rentCon .rent .inner {
    height: 850px;
}
.rentCon .rent .inner h3:first-child {
    padding-top: 100px;
}
.rentCon .rent .inner h3 {
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.rentCon .rent .inner h3 .xi-car {
    margin-left: 10px;
}
.rentCon .rent .rentbox {
    margin-top: 20px;
}
.rentCon .rent .rent_recomend-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rentCon .rent .rent_recomend-box li {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
}
.rentCon .rent .rent_recomend-box li img {
    width: 350px;
    height: 170px;
    display: block;
    border-radius: 10px;
}
.rentCon .rent .rent_recomend-box li strong {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin : 20px 10px;
}
.rentCon .rent_event .inner {
    height: 400px;
    margin-top: 100px;
}
.rentCon .rent_event .inner .rent_eventbox {
    display: flex;
    justify-content: space-around;
}
/* search */
.rentCon .rent_search .inner {
    height: auto;
}
.rentCon .rent_search .inner .rent_type ul {
    display: flex;
    margin-bottom: 20px;
}
.rentCon .rent_search .inner .rent_type ul li {
    font-size: 30px;
    padding: 10px 35px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
    font-weight: 600;
}
.rentCon .rent_search .inner .rent_type ul li:first-child{
    background: skyblue;
    border-radius: 10px;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .pic_model {
    margin: 20px;
    margin-left: 70px;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .pic_model img {
    display: block;
    margin-bottom: 10px;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .pic_model strong {
    display: block;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .pic_model span {
    color: gray;
    font-size: 22px;
    text-align: right;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price {
    margin-left: 80px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price a {
    font-size: 30px;
    color: #000;
    margin: auto 0px;
}    
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price p i {
    margin-right: 10px;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price a:last-child i{
    color: blue;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price a:nth-child(2) i{
    color: green;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price p em {
    color: gray;
}
.rentCon .rent_search .inner .rent_searchbox .vehicles_list li .price p span {
    float: right;
    color: red;
}
/* rent benefit */
.rentCon .benefit {
    margin-top: 50px;
    height: 600px;
    background: lightgoldenrodyellow;
}
.rentCon .benefit h3 {
    padding-top: 50px;
    margin-bottom: 43px;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}
.rentCon .benefit ul {
    display: flex;
    justify-content: space-between;
}
.rentCon .benefit ul li {
    width: 300px;
    height: 300px;
}
.rentCon .benefit ul li img {
    width: 282px;
    height: 210px;
}
.rentCon .benefit ul li p {
    margin-top: 10px;
    color: gray;
    font-size: 16px;
}
.rentCon .benefit ul li span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
/* // rent */
/* // rent */
/* // rent */
/* // rent */
/* // rent */