.TodoForm { text-align: center; padding: 40px 0; background:pink}
.TodoForm input {width:400px; height:45px;padding:0 20px; box-sizing: border-box; vertical-align: top;}
.TodoForm button { width:100px;height:45px;}