@media screen and (max-width:1023px) {
    .inner { width: 95%;}
    #header .nav { position: fixed; right: -100%; top: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.7); z-index: 100}
    #header .nav .gnb { display: block; padding: 6rem; }
    #header .nav .gnb li { }
    #header .nav .gnb li a{ color:#fff ; font-size: 2rem; border-bottom: 1px solid #dcdcdc; padding: 0; line-height: 3; }
    #header .nav .close {display: block; }
    #header .all-menu {display: block; }
    .pc_no {display: block;}
    #visual .myVisual .swiper-slide .txt-box h2 {font-size: 4rem; }

    .main .con1 ul li a div{padding-top: 8rem;}
    .main .con1 ul li a div h2{
        font-size: 3rem;
    }
    .main .con1 ul li a div p{
        font-size: 2rem;
    }
    .main .con2 ul li{width: 100%;}
    .main .con2 ul li a img {}
    .main .con2 ul li a p {
        font-size: 2rem;
    }
    .main .con2 ul li:nth-child(2) {
        display: none;
    }
}
@media screen and (max-width:600px) {
    #visual .myVisual .swiper-slide .txt-box h2 {font-size: 3rem; }
    .main .con1 ul {display: block;}
    .main .con1 ul li{width: 100%;height: 16rem; overflow: hidden; margin-bottom: 1.5rem;}
    .main .con1 ul li a img{width: 100%;}
    .main .con1 ul li a img{margin-top: -27rem;}
    .main .con1 ul li a div{padding-top: 7rem;}
    .main .con1 ul li a div h2{font-size: 2.5rem;}
    .main .con1 ul li a div p{display: none;}
}
