#wrap {
    width: 100%;
    min-width: 1600px;
}

#header,
#footer,
#visual,
#subVisual {
    width: 100%;
}

.inner {
    position: relative;
    margin: auto;
    width: 1200px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

#header {
    height: 150px;
}

.qnaVis {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
}

.qnaVis {}

.qnaVis h2 {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.qnaVis .notice-swicth-qna {
    display: flex;
}

.qnaVis p button {
    width: 600px;
    height: 80px;
    box-sizing: border-box;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.qnaVis p button a {
    display: block;
    width: 600px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
}

.qnaVis .goto-qna {
    background: tan;
}

.qnaVis .goto-qna a {
    color: #FFF;
}

.qna h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
    margin-bottom: 40px;
}

.qna .qna-search {
    position: absolute;
    right: 0;
    top: 0px;
    height: 40px;
    display: flex;
}

.qna .qna-search input {
    width: 240px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.qna .qna-search .btn-qna-search {
    padding: 0;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 20px;
    background: tan;
    cursor: pointer;
}

.qna .qna-list {
    width: 100%;
}

.qna .qna-list .qna-list>li {
    width: 100%;
}

.qna .qna-list li {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 15px 20px;
    position: relative;
}

.qna .qna-list li:first-child {
    border-top: 1px solid #000;
}

.qna .qna-list li:last-child {
    border-bottom: 1px solid #000;
}

.qna .qna-list li strong {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.qna .qna-list li strong::before {
    content: "Q";
    display: inline-block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ddd;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #FFF;
}

.qna .qna-list li.on strong::before {
    background: #000;
}

.qna .qna-list li strong::after {
    font-family: xeicon;
    content: "\e941";
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #ddd;
}

.qna .qna-list li.on strong::after {
    font-family: xeicon;
    content: "\e944";
    color: #000;
}

.qna .qna-list li div {
    position: relative;
    padding-left: 45px;
    margin-top: 20px;
    display: none;
    box-sizing: border-box;
}

.qna .qna-list li.on div {
    display: block;
    /* border: 1px solid #000; */
}

.qna .qna-list li.on div::before {
    content: "A";
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: tan;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #FFF;
}

.qna .qna-list li.on div p {
    word-break: keep-all;
}