#wrap {
    width: 100%;
    min-width: 1600px;
}

#header,
#footer,
#visual,
#subVisual {
    width: 100%;
}

.inner {
    position: relative;
    margin: auto;
    width: 1200px;
    box-sizing: border-box;
    border: 1px solid #000;
}

#header {
    height: 150px;
}

.qnaVis {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
}

.qnaVis {}

.qnaVis h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.qnaVis .qna-swicth-notice {
    display: flex;
}

.qnaVis p button {
    padding: 0;
    width: 600px;
    height: 80px;
    box-sizing: border-box;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.qnaVis .goto-qna {
    background: tan;
    color: #FFF;
    font-weight: 700;
}

.qnaVis .goto-notice {
    font-weight: 700;
}

.qna h3 {
    font-size: 24px;
    margin: 10px;
}

.qna .qna-search {
    position: absolute;
    right: 0;
    top: 10px;
}

.qna .qna-search select {
    padding-left: 10px;
    width: 170px;
    height: 40px;
}

.qna .qna-search input {
    width: 240px;
    height: 40px;
    box-sizing: border-box;
}

.qna .qna-search .btn-qna-search {
    width: 110px;
    height: 40px;
}

.qna .qna-board {
    position: relative;
    height: 900px;
}

.qna .qna-board .qna-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.qna .qna-board .qna-list li div {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0;
    border: 1px solid red;
}

.qna-paging {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
}

.qna-paging button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 5px;
}