#wrap {
    width: 100%;
    min-width: 1600px;
}

#header,
#footer,
#visual,
#subVisual {
    width: 100%;
}

.inner {
    position: relative;
    margin: auto;
    width: 1200px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

#header {
    height: 150px;
}

.qnaVis {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
}

.qnaVis {}

.qnaVis h2 {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.qnaVis .qna-swicth-notice {
    display: flex;
}

.qnaVis p button {
    width: 600px;
    height: 80px;
    box-sizing: border-box;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.qnaVis p button a {
    display: block;
    width: 600px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
}

.qnaVis .goto-qna {
    background: tan;
}

.qnaVis .goto-qna a {
    color: #FFF;
}

.qna h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
    margin-bottom: 40px;
}

.qna .qna-search {
    position: absolute;
    right: 0;
    top: 0px;
    height: 40px;
    display: flex;
}

.qna .qna-search select {
    padding-left: 10px;
    width: 170px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
}

.qna .qna-search input {
    width: 240px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
}

.qna .qna-search .btn-qna-search {
    padding: 0;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
}

.qna .qna-board {
    position: relative;
    height: 900px;
}

.qna .qna-board .qna-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.qna .qna-board .qna-list>li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 60px;
    line-height: 40px;
    font-size: 22px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

.qna .qna-board .qna-list li.on {
    border: 1px solid #000;
    border-bottom: none;
}

.qna .qna-board .qna-board-content li div {
    position: absolute;
    width: 100%;
    height: 800px;
    margin-top: 60px;
    left: 0;
    /* border: 1px solid red; */
    display: none;
    text-align: center;
}

.qna .qna-board .qna-board-content li div.on {
    display: block;
}

.qna-paging {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 40px;
    margin-bottom: 20px;
    display: flex;
}

.qna-paging button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 5px;
    background: #FFF;
    border: 1px solid #DDD;
    color: #aaa;
    cursor: pointer;
}

.qna-board .qna-table {}

.qna-board .qna-table .w1 {
    width: 100px;
}

.qna-board .qna-table .w2 {
    width: 150px;
}

.qna-board .qna-table .w3 {
    width: 800px;
}

.qna-board .qna-table .w4 {
    width: 150px;
}

.qna-board .qna-table thead {}

.qna-board .qna-table thead tr {}

.qna-board .qna-table thead tr th {
    height: 60px;
    box-sizing: border-box;
    border-top: 5px solid #ddd;
    border-right: 1px solid #ddd;
    background: #eee;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
}

.qna-board .qna-table thead tr th:last-child {
    border-right: none;
}

.qna-board .qna-table tbody {}

.qna-board .qna-table tbody tr {}

.qna-board .qna-table tbody tr td {
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px 0;
    font-size: 18px;
    line-height: 40px;
}

.qna-board .qna-table tbody tr td:first-child {
    border-left: none;
}

.qna-board .qna-table tbody tr td:nth-child(3) {
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

.qna-board .qna-table tbody tr td:last-child {
    border-right: none;
}